<head>
  <link type="text/css" rel="stylesheet" href="css/settings.css"/> 
</head>

<body>
    <div class="main" ng-controller="SettingsController as regCtrl">
        <div class="user">
            {{email}}
        </div>
        <div id="container">
            <h1>Settings</h1>
            <form class="changepassform" ng-submit="update()">
                <div class="formfield">
                    <div class="formfield">
                        <b>Change Name</b><input type="text" placeholder="Enter new Company Name" >
                    </div>
                    <div class="formfield">
                        <b>Change Email</b><input type="email" placeholder="Enter Email" ng-model="user.email">
                    </div>
                    <div class="formfield">
                        <b>Change Password</b><input type="password" placeholder="Enter new Password" ng-model="user.password">
                    </div>
                    <div class="formfield">
                        <b>Confirm Password</b><input type="password" placeholder="Enter new Password again" ng-model="validateNewPass">
                    </div>
                    <div class="formfield">
                        <b>Change Company Name</b><input type="text" placeholder="Enter new Password">
                    </div>
                    <div class="formfield">
                        <b>Change Company Phone</b><input type="text" placeholder="Enter new Password">
                    </div>
                    <div class="settingsError">
                        <div class="output">
                            <input type="submit" value="Submit">
                            <p id="error_message">{{ errMessage }} </p>
                        </div>
                    </div>
            </form>
        </div>
    </div>  
</body>