<head>
  <link type="text/css" rel="stylesheet" href="css/settings.css"/> 
</head>

<body>
    <div class="main" id="container"ng-controller="SettingsController as regCtrl">

        <div id="content">
            <form class="changepassform" ng-submit="update()">

                    <div id="left">
                        <h2>Change Name</h2><input type="text" placeholder="CHANGE NAME" >
                    
                        <h2>Change Email</h2><input type="email" placeholder="CHANGE EMAIL" ng-model="user.email">
                    
                        <h2>Change Password</h2><input type="password" placeholder="CHANGE PASSWORD" ng-model="user.password">

                        <h2>Confirm Password</h2><input type="password" placeholder="CONFIRM PASSWORD" ng-model="user.newpassword">
                    </div>
                    <div id="right">
                        <h2>Change Name</h2><input type="text" placeholder="CHANGE NAME">
                        <h2>Change Phone</h2><input type="text" placeholder="CHANGE PHONE">
                        <div class="output">
                        <input type="submit" value="Submit">
                            <p id="error_message">{{ errMessage }} </p>
                        </div>    
                    </div>

            </form>
        </div>
    </div>  
</body>